body {
  background-image: url("Pictures/Color_square_cm.gif");
  background-size: auto;
  background-position: top center;
  color: white;
}
header {
  color: white;
  font-size: 50px;
}
.Forest {
  background-color: grey;
  background-size: 50px;
}
